
nav {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    color: "white";
    background-color: rgb(229, 221, 210);
    transition: background-color 0.5s; 
    text-align: center;
    padding: 35px 0;
    font-weight: 500;
    font-size: 1.25rem;
    z-index: 10000;
}

@media (max-width: 500px) {
    .nav {
        height: 5rem;
    }
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0.5rem;
}

@media (max-width: 500px) {
    .navbar-container {
        margin-top: 3rem;
        flex-direction: column;
    }
}


.section {
    text-decoration: none;
    /* color: white; */
    margin-right: 3rem;
    margin-left: 3rem;
    /* font-weight: 400; */
}

.section:hover {
    cursor:pointer;
    text-decoration: underline;
}


.contact-icons {
    display: flex;
    margin-left: auto;
    /* width: 0%; */
}

@media (max-width: 500px) {
    .contact-icons {
        margin: 0;
    }

}

.contact-icons img {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    /* opacity: 0%; */
}

@media (max-width: 500px) {
    .contact-icons img {
        margin: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-bottom: 1rem;
    }
}

