
.title {
    text-align: left;
    padding: 0;
    margin: 0;
}

.proj-title-container {
    align-items: left;
}

.proj-page-title {
    align-self: left;
}

.car-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}


.project-container {
    font-family: 'Roboto Slab', serif;
    width: 80%;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 4px;
    border-radius: 10px;
    margin-bottom: 5rem;
    transition: box-shadow 0.3s ease-in-out;
}

.project-container:hover {
    border-color: #B5D3B3;
}

.project-body {
    display: flex;
}

@media (max-width: 1080px) {
    .project-body {
        flex-direction: column;
    }
}

.proj-text-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 5rem;
    
}

.body-text-container {
    display: flex;
    width: 100%;
}

.title-text {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}

.skill-text {
    padding-right: 4rem;
    font-size: 14px;
    margin: 0;
}

.des-text {
    padding-right: 4rem;
    font-size: 20px;
    margin: 0;
    margin-top: 2rem;
}



