
.project-pos {
    opacity: 0%;
}

.left-align {
    text-align: left;
}

.proj-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    
}

.project-text {
    text-align: left;
    color: white;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 4rem;
}

.vert-projects {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: auto;
}

@media (max-width: 500px) {
    .vert-projects {
        flex-direction: column;
    }
}

