


.proj-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.project-container {
    padding: 2rem;
    font-family: 'Verdana';
    width: 70%;
    display: flex;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 5rem;
    transition: box-shadow 0.3s ease-in-out;
    margin: 0;
    margin-bottom: 1rem;
    
    /* margin-bottom: 3rem; */
    /* margin-right: 10%; */
    /* margin-left: 10%; */
}

.flex {
    display: flex;
    cursor: pointer;
}

.project-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .rarrow {
        width: 45px;
    }
}

@media (max-width: 950px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}

.proj-text-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;
    /* padding-left: 5rem; */
    
}

.view-more-text {
    color: rgb(52, 123, 205);
    font-size: 20px;
}

.title-text {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 0;
    margin-bottom: 16px;
}

.where-text {
    margin: 0;
    margin-left: auto;
    font-size: 24px;
    color: black;
}

.title-sub-text {
    color: rgb(95, 95, 95);
    padding-right: 4rem;
    font-size: 14px;
    margin: 0;
    /* color: black; */
}

.des-text {
    color: black;
    font-size: 16px;
    margin: 0;
    margin-top: 0.5rem;
}

.text {
    margin-right: 2rem;
    width: 100%;
}

/* styles.module.css */

.single-img-container {
    position: relative;
    width: 80%;
    height: 90%;
    /* padding: 5rem; */
    /* align-items: center;
    justify-content: center; */
    max-height: 30rem;
    margin: 0;
    margin-left: 4rem;
    /* margin-top: 1rem; */
    /* padding: 2rem; */
    overflow: hidden;
}

.single-img {
    width: 100%;
    height: 100%;
    /* max-width: 80%; */
    object-fit: cover;
    /* cursor: pointer; */
    border-radius: 20px;
    /* transition: filter 0.3s ease; */
    /* Added transition for filter */
}

.rarrow {
    margin-top: 18px;
    margin-left: 5px;
    width: 0px;
    height: 30px;
    transition: width 0.3s ease-in-out;
}

/* .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-overlay p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.single-img-container:hover .img-overlay {
    opacity: 1;
}

.single-img-container:hover .single-img {
    filter: blur(1px);
} */