

.proj-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: left;
    align-items: center; 
    margin-bottom: 6rem;
    padding-top: 3rem;
    border-radius: 40px;
    transition: box-shadow 0.3s ease-in-out;
    /* opacity: 0; */
    /* transform: translateY(100%); */
    /* Animation */
    /* animation: slideUp 0.5s ease-in-out forwards; */
}


.proj-header {
    color: black;
}

@media (max-width: 900px) {
    .projects {
        flex-direction: column;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}