
.about-pos {
    margin: 0;
    height: 8rem;
}

.text-container {

    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/scilibdark.png');
    background-size: cover;
    width: 100%;
    /* height: 75%; */
    /* padding-bottom: 5rem; */
}





.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin: 0;
    margin-top: 10rem;
    font-weight: 600;
    height: 8rem;
}

@media (max-width: 500px) {
    .main-text {
        font-size: 3.5rem;
    }
}


.sub-text {
    font-size: 1.5rem;
    color: white;
    /* text-align: left; */
    font-weight: 600;;
    /* color: rgb(167, 167, 167); */
    margin: 0;
    padding: 0;
}


.interests {
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2rem;
    color: white;
    font-weight: 600;
    width: max-content;
    margin: 5rem auto;
    margin-bottom: 0;
    border-radius: 40rem;
}


.interest {
    justify-content: center;
    height: 3rem;
    place-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    transition: transform 0.2s ease;
}

/* .interest:hover {
    animation: jump 1.5s linear infinite;
} */

@keyframes jump {
    0% {
        transform: translateY(0);
    }


    50% {
        transform: translateY(-10px);
        /* Move text 10 pixels up during the animation */
    }

    100% {
        transform: translateY(0);
    }
}

/* .bottom-text {
    font-size: 1.5rem;
    color: grey;
    padding: 0;
    font-family: 'Verdana';
} */

/* .arrow {
    width: 2rem;
    height: 2rem;
    animation: img-blink 2s infinite;
    cursor: pointer;
    z-index: 0;
} */


/* @keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from, to  {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
} */

/* @keyframes fade-in {
    from {
            opacity: 0%;
        }
    
        to {
            opacity: 100%;
        }
}


@keyframes img-fade-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes img-blink {
    from, to {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
} */