
.hero {
    display: flex;
    /* background-color:rgb(27, 47, 91); */
    background: linear-gradient(to bottom, #449bff, #000000);
    /* background-image: "bluebg.jpg"; */
    /* background-color: black; */
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    margin: 0;
    /* font-family: 'Courier New', monospace; */
    font-family: 'Verdana';
    /* font-family: 'Roboto', serif; */
    /* font-family: 'Roboto'; */
    /* font-family: "Montserrat"; */
    /* justify-content: center; */
    align-items: center;
  
}



